/* ==END== */
/* ==END== */
/* ==END== */
/* ==END== */
/* ==END== */
/* ==END== */
/* ==END== */
/* ==END== */
/* ==END== */
.alert-primary {
  background-color: orange;
}

.alert-success {
  background-color: green;
}

.alert-danger {
  background-color: darkred;
}

.alert-warning {
  background-color: violet;
}

.alert-info {
  background-color: rgb(44, 119, 145);
}

body {
  background-color: orange;
}

.button {
  color: red;
  background-color: white;
}

/* ==END== */